{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>My bookshelf</h1>

        {% for b in books %}
            <div class="row block book">
                {# sizedImage('favicon.ico') #}
                <div class="col-xs-2">
                    {{ b.coverFile }}
                </div>
                <div class="col-xs-7">
                    <h2>{{ b.name }}</h2>
                    <div>by {{ b.author }}</div>
                    <div>
                        Read date: {{ b.readDate|date("Y-m-d")  }}
                    </div>
                </div>
                <div class="col-xs-3">
                    {% if b.isDownloadable %}
                        Download: {{ b.bookFile }}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
